.wrapper {
    width: 100%;
    .settings {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
    }
    .pizzas {
        h1 {
            margin: 20px 0;
        }
        .pizzasList {
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
}
